body {
    background-color: peachpuff;
}

#welcome {
padding: 70px 1px 1px 1px;
background-color:rgb(255, 213, 0);
margin: auto;
text-align: center;
}

#form {
text-align: left;
padding: 0 0 70px 0;

}

span.psw {
  display: block;
  float: right;
}

.button-container {
    padding: 10px 0 10px 0;
    align-content: center;
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;

}

  /* Icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 63px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  /* LinkedIn */
  .fa-linkedin{
    background: #3B5998;
    color: white;
  }

/* YouTube */
.fa-youtube{
    background: #f50909;
    color: white;
}

/* instagram */
.fa-instagram{
    background: #d34989;
    color: white;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  .container-shop {
    max-width: 800px;
    margin: auto;
    padding: 70px 0 5px 0;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 50px;
}

.product {
    border: 3px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    display: grid;
    /* letter-spacing: 1px; */
    /* box-shadow: 50px 50px ; */
}

.product h3 {
  font-size: medium;
}

.product img {
  width: 100%;
}



#cart {
  /* position: fixed; */
  /* left: 100%; */
  width: 300px;
  /* background-color: #55ACEE; */
  /* height: 100vh; */
}

.cart-item {
    padding: 10px;
    background-color: azure;
    text-align: justify;
    display: grid;
}

.cart-total {
    margin-top: 10px;
    font-weight: bold;
    background-color: black;
    color: beige;
    padding: 10px;
}

.checkout-button {
  background-color: #E8BC0E;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.cart .checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #fff;
}

.active .cart {
  left: calc(100% - 300px);
}

.active .container-shop {
  transform: translateX(-100px);
}

.cart-item img {
  width: 70%;
}

.cart-item span {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.remove-button {
  display: inline-block;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
}

.dirdash ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dirdash ul li {
  display: inline;
  margin-right: 20px;
}

.dirdash ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Add your CSS styles here */
/* .container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
} */

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */

.note {
  font-style: italic;
  margin-top: 5px;
}


