doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/about.css')
include navbar
.container-shop
header#header-about
  h1 About Our Daycare Center
  p Welcome to our nurturing and playful daycare environment!
  p
    | What your child learns throughout the day reinforces what he or she is
    | being taught at home. At Daystar Daycare Center, we look for teachable
    | moments as your child plays, helping your child learn all day long. Our
    i Discovering Me
    |  curriculum focuses on six areas of development:
  ul
    li Social and Emotional Development
    li Cognitive Development
    li Physical Development and Health
    li Language and Communication
    li Creative Expression and Sensory
    li Outdoor Learning and Nature
section.section-about
  h2 Our Mission
  p
    | At our daycare center, we are dedicated to providing a safe, loving, and
    | stimulating environment for children to learn, play, and grow.
section.section-about
  h2 Our Values
  p We uphold the following core values:
  ul
    li Nurturing and caring atmosphere
    li Respect for each child&apos;s unique qualities
    li Excellence in early childhood education
    li Collaboration with families and community
section.section-about
  h2 Our Goals
  ul
    li Provide a nurturing and secure environment for every child.
    li Foster a love for learning through play-based activities.
    li
      | Promote social and emotional development through positive
      | interactions.
    li
      | Partner with families to support each child&apos;s individual needs and
      | growth.
section.section-about
  h2 Location
  p Visit us at:
  address
    | 123 Grace Lane
    br
    |         Kabalaga, ABC123
    br
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/add.js')
