doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Accounting Entry Form
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/accounts.css')
include navbar
header
  include userNav
main
  h2 Accounting Entry Form
  // Transaction Entry Form
  form#transaction-form
    label(for='description') Description:
    input#description(type='text' name='description')
    label(for='amount') Amount (UGX):
    input#amount(type='number' name='amount')
    label(for='type') Type:
    select#type
      option(value='expense') Expense
      option(value='income') Income
    label(for='date') Date:
    input#date(type='date' name='date')
    button(type='submit') Add Transaction
include footer
script(src='/js/accounts.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
