doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Accounting Entry Form
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/accounts.css')
include navbar
header
  include userNav
main
  form#transaction-form(onsubmit='return validateForm()' action='/accountsEntry' method='POST')
    h2 Transaction Entry Form
    label(for='description') Description:
    input#description(type='text' name='description')
    label(for='transactionRef') Transaction Reference:
    input#transactionRef(type='text' name='transactionRef')
    label(for='amount') Amount (UGX):
    input#amount(type='number' name='amount')
    label(for='classification') Classification:
    select#classification(name='classification')
      option(value='expense') Expense
      option(value='income') Income
    label(for='transactionDate') Transaction Date:
    input#transactionDate(type='date' name='transactionDate')
    button(type='submit') Add Transaction
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/accounts.js')
