doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Purchase Add
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/addPurchase.css')
include navbar
header
  include userNav
main
    form#registrationForm(onsubmit='return validateForm()' action='/purchaseAdd' method='POST')
      h2 Add Purchase
      .form-row
        div(style='flex-basis: 36%')
          label(for='item') Item:
          select#item(name='item')
            option(value='') Select 
            option(value='Fruits') Fruits
            option(value='Milk') Milk
            option(value='Diapers') Diapers
            option(value='')
        div(style='flex-basis: 12%')
          label(for='unit') Unit:
          input#unit(type='text' name='unit')
        div(style='flex-basis: 12%')
          label(for='quantity') Quantity:
          input#quantity(type='number' name='quantity')
        div(style='flex-basis: 24%')
          label(for='rate') Rate (UGX):
          input#rate(type='number' name='rate')
        div(style='flex-basis: 36%')
          label(for='amount') Amount (UGX):
          input#amount(type='number' name='amount')
        button.btn.btn-success(type='submit' style='flex-basis: 16%') Add Purchase
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/addPurchase.js')

