<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/css/admin.css" />
  </head>

  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>
    <header>
      <nav class="dash">
        <ul>
          <li><a href="/views/admin.html">Dashboard</a></li>
          <li><a href="/views/adminRegistration.html">Admin Registration</a></li>
          <li><a href="/views/babyRegistration.html">Register Baby</a></li>
          <li><a href="/views/sitterRegistration.html">Register Sitter</a></li>
          <li><a href="/views/babyStatus.html">Baby Status</a></li>
          <li><a href="/views/babyReport.html">Baby Report</a></li>
          <li><a href="/views/sittterReport.html">Sitter Report</a></li>
          <li><a href="/views/accounts.html">Accounts</a></li>
          <li><a href="/views/inventory.html">Inventory</a></li>
          <li><a href="/views/liveFeed.html">Live Feed</a></li>
          <button id="logoutBtn">Logout</button>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main class="mainAdmin">
      <div class="container-adminDash">
        <div class="section">
          <h2>Updates</h2>
          <div class="cards-container" id="realtime-cards-container"></div>
        </div>
        <div class="section">
          <h2>To-Do List</h2>
          <input type="text" id="taskInput" placeholder="Add new task..." />
          <button class="btn-toDo" onclick="addTask()">Add Task</button>
          <button class="btn-toDo" onclick="clearList()">Clear List</button>
          <ul id="taskList"></ul>
        </div>
      </div>

      <div class="graph-container">
        <h2>Graphical Report</h2>
        <select id="report-type-select" onchange="renderGraph()">
          <option value="bar">Bar Chart</option>
          <option value="line">Line Chart</option>
          <option value="pie">Pie Chart</option>
        </select>
        <canvas id="graphical-report-chart"></canvas>
      </div>
    </main>

    <div w3-include-html="/views/footer.html"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/public/js/logout.js"></script>
    <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/public/js/add.js"></script>
    <script src="/public/js/admin.js"></script>
  </body>
</html>
