<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Registration</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/css/adminRegistration.css" />
  </head>
  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>

    <header>
      <nav class="dash">
        <ul>
          <li><a href="/views/admin.html">Dashboard</a></li>
          <li>
            <a href="/views/adminRegistration.html">Admin Registration</a>
          </li>
          <li><a href="/views/babyRegistration.html">Register Baby</a></li>
          <li><a href="/views/sitterRegistration.html">Register Sitter</a></li>
          <li><a href="/views/babyStatus.html">Baby Status</a></li>
          <li><a href="/views/babyReport.html">Baby Report</a></li>
          <li><a href="/views/sittterReport.html">Sitter Report</a></li>
          <li><a href="/views/accounts.html">Accounts</a></li>
          <li><a href="/views/inventory.html">Inventory</a></li>
          <li><a href="/views/liveFeed.html">Live Feed</a></li>
          <button id="logoutBtn">Logout</button>
        </ul>
      </nav>
    </header>
    <main>
      <div class="form-container">
        <h2 class="h2-adminReg">Admin Registration</h2>
        <form id="registrationForm" onsubmit="return validateForm()">
          <div class="input-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" />
            <span id="firstNameError" class="error"></span>
          </div>
          <div class="input-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" />
            <span id="lastNameError" class="error"></span>
          </div>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />
            <span id="emailError" class="error"></span>
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <span id="passwordError" class="error"></span>
          </div>
          <div class="input-group">
            <input type="text" placeholder="Role" value="Admin" name="role" />
          </div>

          <button class="btn-adminReg" type="submit">Register</button>
          <p id="successMessage" class="success" style="display: none">
            Registration successful!
          </p>
        </form>
      </div>
    </main>
    <div w3-include-html="/views/footer.html"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/public/js/adminRegistration.js"></script>
    <script src="/public/js/add.js"></script>
  </body>
</html>
