doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Registration
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/adminRegistration.css')
include navbar
main
  .form-container
    h2.h2-adminReg Admin Registration
    form#registrationForm(onsubmit='return validateForm()' action='/registerAdmin' method='POST')
      .form-row
        div(style='flex-basis: 48%')
          label(for='firstName') First Name:
          input#firstName(type='text' name='firstName')
        div(style='flex-basis: 48%')
          label(for='lastName') Last Name:
          input#lastName(type='text' name='lastName')
      .form-row
        div(style='flex-basis: 48%')
          label(for='email') Email:
          input#email(type='email' name='email')
        div(style='flex-basis: 48%')
          label(for='password') Password:
          input#password(type='password' name='password')
      .form-row
        div(style='flex-basis: 48%')
          input(type='text' placeholder='Role' value='Admin' name='role')
      button.btn-adminReg(type='submit') Register
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')

