doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Dashboard
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/admin.css')
include navbar
.container-shop
header
  nav.dash
    ul
      li
        a(href='/admin') Dashboard
      li
        a(href='/adminRegistration') Admin Registration
      li
        a(href='/babyRegistration') Register Baby
      li
        a(href='/sitterRegistration') Register Sitter
      li
        a(href='/babyStatus') Baby Status
      li
        a(href='/babyReport') Baby Report
      li
        a(href='/sittterReport') Sitter Report
      li
        a(href='/accounts') Accounts
      li
        a(href='/inventory') Inventory
      li
        a(href='/liveFeed') Live Feed
      button#logoutBtn(href='/logout') Logout
// Main Content
main.mainAdmin
  .container-adminDash
    .section
      h2 Updates
      #realtime-cards-container.cards-container
    .section
      h2 To-Do List
      input#taskInput(type='text' placeholder='Add new task...')
      button.btn-toDo(onclick='addTask()') Add Task
      button.btn-toDo(onclick='clearList()') Clear List
      ul#taskList
  .graph-container
    h2 Graphical Report
    select#report-type-select(onchange='renderGraph()')
      option(value='bar') Bar Chart
      option(value='line') Line Chart
      option(value='pie') Pie Chart
    canvas#graphical-report-chart
include footer
script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='/js/logout.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/add.js')
script(src='/js/admin.js')
