doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar Baby Report
  link(rel='stylesheet' href='/public/css/style.css')
  link(rel='stylesheet' href='/public/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/public/css/babyReport.css')
div(w3-include-html='/views/navbar.html')
.container-shop
header
  nav.dash
    ul
      li
        a(href='/views/admin.html') Dashboard
      li
        a(href='/views/adminRegistration.html') Admin Registration
      li
        a(href='/views/babyRegistration.html') Register Baby
      li
        a(href='/views/sitterRegistration.html') Register Sitter
      li
        a(href='/views/babyStatus.html') Baby Status
      li
        a(href='/views/babyReport.html') Baby Report
      li
        a(href='/views/sittterReport.html') Sitter Report
      li
        a(href='/views/accounts.html') Accounts
      li
        a(href='/views/inventory.html') Inventory
      li
        a(href='/views/liveFeed.html') Live Feed
      button#logoutBtn Logout
main
  .container-babyReportAdmin
    h2.h2-babyReportAdmin DayStar Baby Report
    form#reportFormBabyAdmin.form-babyReportAdmin
      label.label-babyReportAdmin(for='fromDateBabyReportAdmin') From:
      input#fromDateBabyReportAdmin.input-babyReportAdmin(type='date' name='fromDateBabyReportAdmin')
      label.label-babyReportAdmin(for='toDateBabyReportAdmin') To:
      input#toDateBabyReportAdmin.input-babyReportAdmin(type='date' name='toDateBabyReportAdmin')
      button.button-babyReportAdmin(type='submit')
        | Generate Report
      button#exportButtonBabyReportAdmin.button-babyReportAdmin(type='button')
        | Export Report
    table#enrollmentTableBabyReportAdmin.table-babyReportAdmin
      thead.thead-babyReportAdmin
        tr.tr-babyReportAdmin
          th.th-babyReportAdmin Full Name
          th.th-babyReportAdmin Baby Number
          th.th-babyReportAdmin Status
          th.th-babyReportAdmin Sitter
      tbody#enrollmentListBabyReportAdmin.enrollmentList-babyReportAdmin
div(w3-include-html='/views/footer.html')
script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='/public/js/babyReport.js')
script(src='/public/css/bootstrap/js/bootstrap.bundle.js')
script(src='/public/js/add.js')
