<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baby Status</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/css/babyStatus.css" />
  </head>
  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>
    <header>
      <nav class="dash">
        <ul>
          <li><a href="/views/admin.html">Dashboard</a></li>
          <li>
            <a href="/views/adminRegistration.html">Admin Registration</a>
          </li>
          <li><a href="/views/babyRegistration.html">Register Baby</a></li>
          <li><a href="/views/sitterRegistration.html">Register Sitter</a></li>
          <li><a href="/views/babyStatus.html">Baby Status</a></li>
          <li><a href="/views/babyReport.html">Baby Report</a></li>
          <li><a href="/views/sittterReport.html">Sitter Report</a></li>
          <li><a href="/views/accounts.html">Accounts</a></li>
          <li><a href="/views/inventory.html">Inventory</a></li>
          <li><a href="/views/liveFeed.html">Live Feed</a></li>
          <button id="logoutBtn">Logout</button>
        </ul>
      </nav>
    </header>

    <main>
      <!-- Babies -->
      <div id="babies" class="section-users">
        <div id="container-babyListSitter">
          <h2 id="h2-babyListSitter">Baby Attendance List</h2>
          <ul id="baby-list-babyListSitter"></ul>
        </div>

        <div
          class="popup-container-babyListSitter"
          id="popup-overlay-babyListSitter"
        >
          <div class="popup-babyListSitter" id="details-popup-babyListSitter">
            <h2 id="details-popup-title-babyListSitter"></h2>
            <p>
              <strong>Age:</strong>
              <span id="details-age-babyListSitter"></span>
            </p>
            <p>
              <strong>Gender:</strong>
              <span id="details-gender-babyListSitter"></span>
            </p>
            <p>
              <strong>Enrolled Date:</strong>
              <span id="details-enrolled-babyListSitter"></span>
            </p>
            <p>
              <strong>Special Needs:</strong>
              <span id="details-special-needs-babyListSitter"></span>
            </p>
            <p>
              <strong>Remarks:</strong>
              <span id="details-remarks-babyListSitter"></span>
            </p>
            <button
              class="button-babyListSitter"
              onclick="closePopup('details-popup-babyListSitter')"
            >
              Close
            </button>
          </div>

          <div class="popup-babyListSitter" id="action-popup-babyListSitter">
            <input
              type="text"
              id="personNameInput-babyListSitter"
              placeholder="Enter name..."
            name="personNameInput"/>
            <input
              type="text"
              id="commentsInput-babyListSitter"
              placeholder="Comments (optional)..."
            name="comments"/>
            <button class="button-babyListSitter" onclick="handleAction()">
              OK
            </button>
          </div>
        </div>
    </main>

        <div w3-include-html="/views/footer.html"></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/public/js/logout.js"></script>
        <script src="/public/js/babyStatus.js"></script>
        <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/public/js/add.js"></script>
      </div>
  </body>
</html>
