<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baby Registration Form</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/css/babyRegistration.css" />
  </head>
  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>

    <header>
      <nav class="dash">
        <ul>
          <li><a href="/views/admin.html">Dashboard</a></li>
          <li>
            <a href="/views/adminRegistration.html">Admin Registration</a>
          </li>
          <li><a href="/views/babyRegistration.html">Register Baby</a></li>
          <li><a href="/views/sitterRegistration.html">Register Sitter</a></li>
          <li><a href="/views/babyStatus.html">Baby Status</a></li>
          <li><a href="/views/babyReport.html">Baby Report</a></li>
          <li><a href="/views/sittterReport.html">Sitter Report</a></li>
          <li><a href="/views/accounts.html">Accounts</a></li>
          <li><a href="/views/inventory.html">Inventory</a></li>
          <li><a href="/views/liveFeed.html">Live Feed</a></li>
          <button id="logoutBtn">Logout</button>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container-babyReg">
        <h2 class="h2-babyReg">DayStar Baby Registration Form</h2>
        <form id="registrationForm">
          <div class="form-row">
            <div style="flex-basis: 48%">
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" name="firstName" />
            </div>
            <div style="flex-basis: 48%">
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" name="lastName" />
            </div>
          </div>

          <div class="form-row">
            <div style="flex-basis: 48%">
              <label for="dob">Date of Birth:</label>
              <input type="date" id="dob" name="dob" />
            </div>
            <div style="flex-basis: 48%">
              <label for="gender">Gender:</label>
              <select id="gender" name="gender">
                <option value="">Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <label for="address">Address:</label>
          <input type="text" id="address" name="address" rows="1" />
          <div class="form-row">
            <div style="flex-basis: 48%">
              <label for="fatherName">Father's Name:</label>
              <input type="text" id="fatherName" name="fatherName" />
            </div>
            <div style="flex-basis: 48%">
              <label>&nbsp;</label>
              <input
                type="checkbox"
                id="fatherDeceased"
                name="fatherDeceased"
                onchange="toggleFatherName(this)"
              />
              <label for="fatherDeceased">Father Deceased</label>
            </div>
          </div>

          <div class="form-row">
            <div style="flex-basis: 48%">
              <label for="motherName">Mother's Name:</label>
              <input type="text" id="motherName" name="motherName" />
            </div>
            <div style="flex-basis: 48%">
              <label>&nbsp;</label>
              <input
                type="checkbox"
                id="motherDeceased"
                name="motherDeceased"
                onchange="toggleMotherName(this)"
              />
              <label for="motherDeceased">Mother Deceased</label>
            </div>
          </div>

          <div id="guardianField" class="form-row hidden">
            <div style="flex-basis: 100%">
              <label for="guardianName">Guardian's Name:</label>
              <input type="text" id="guardianName" name="guardianName" />
            </div>
          </div>

          <button class="btn-babyReg" type="button" onclick="registerBaby()">
            Register Baby
          </button>
        </form>
      </div>

      <div id="popup-babyReg" class="popup-babyReg">
        <p id="registrationMessage"></p>
        <button onclick="closePopup()">OK</button>
      </div>
    </main>
    <div w3-include-html="/views/footer.html"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/public/js/babyRegistration.js"></script>
    <script src="/public/js/add.js"></script>
  </body>
</html>
