doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Doll Stall
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
include navbar
header
  include userNav
main
  .container-fluid
      h3 Doll Stall
      if dolls.length
          .row.row-cols-1.row-cols-md-3.g-4
              each doll in dolls
                  .col 
                      .card.card-custom.mx-2.mb-3.img-fluid(style='width: 18rem;')
                          img.card-img-top.img-fluid(src='/'+doll.imageUpload alt='dollImage')
                          .card-body
                              h4.card-title #{doll.dollName}
                              p.card-text #{doll.quantity} in stock
                              a.btn.btn-primary(href='/sellDoll/'+doll._id) Sell Doll
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')
