doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Doll Stall
  link(rel='stylesheet' href='/public/css/style.css')
  link(rel='stylesheet' href='/public/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/public/css/dollStall.css')
div(w3-include-html='/views/navbar.html')
.container-shop
header
  h1 DayStar Daycare Doll Stall
  button#cartToggleBtn Cart (0)
main
  #itemsContainer.container-dollStall
  #cart
    .cart-header
      h2 Shopping Cart
      span.cart-close(onclick='toggleCart()') X
    ul#cartItems
    p
      | Total: 
      span#cartTotal UGX 0
    button(onclick='checkout()') Checkout
div(w3-include-html='/views/footer.html')
script(src='/public/js/dollStall.js')
script(src='/public/css/bootstrap/js/bootstrap.bundle.js')
script(src='/public/js/add.js')
