.container-fluid
  .row.row-cols-1.row-cols-md-3.g-4
    .col
      .card.h-100
        .card-body
          h5.card-title Contact Us:
          p.card-text Email: care@daystar.com
          p.card-text Phone: +256 776 110890
    .col
      .card.h-100
        .card-body
          h5.card-title Follow Us:
          p.card-text
          .social-icons
            a.fa.fa-linkedin(href='#')
            a.fa.fa-twitter(href='#')
            a.fa.fa-facebook(href='#')
            a.fa.fa-instagram(href='#')
            a.fa.fa-youtube(href='#')
    .col
      .card.h-100
        .card-body
          h5.card-title Locate Us:
          p.card-text 123 Grace Lane
          p.card-text Kabalagala ABC123
  footer.container-fluid(style='\
  text-align: center;\
  background-color: blanchedalmond;\
  color: black;\
  padding: 20px 0 10px 0;\
  ')
    p Copyright 2024 &copy; DayStar Daycare Center. All rights reserved.
