<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>

    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/css/gallery.css" />
  </head>

  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>
    <h1>Gallery</h1>
    <div class="gallery" id="gallery"></div>

    <div w3-include-html="/views/footer.html"></div>
    <script src="/public/js/gallery.js"></script>
    <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/public/js/add.js"></script>
  </body>
</html>
