<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/css/inventory.css" />
  </head>
  <body>
    <div w3-include-html="/views/navbar.html"></div>

    <div class="container-shop"></div>

    <header>
      <nav class="dash">
        <ul>
          <li><a href="/views/admin.html">Dashboard</a></li>
          <li>
            <a href="/views/adminRegistration.html">Admin Registration</a>
          </li>
          <li><a href="/views/babyRegistration.html">Register Baby</a></li>
          <li><a href="/views/sitterRegistration.html">Register Sitter</a></li>
          <li><a href="/views/babyStatus.html">Baby Status</a></li>
          <li><a href="/views/babyReport.html">Baby Report</a></li>
          <li><a href="/views/sittterReport.html">Sitter Report</a></li>
          <li><a href="/views/accounts.html">Accounts</a></li>
          <li><a href="/views/inventory.html">Inventory</a></li>
          <li><a href="/views/liveFeed.html">Live Feed</a></li>
          <button id="logoutBtn">Logout</button>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <h2 class="h2-inv">DayStar Inventory Management System</h2>
        <div class="add-item form-row">
          <h2>Add New Item</h2>
          <label for="itemName">Item Name:</label>
          <input type="text" id="itemName" name="itemName" />
          <label for="itemUnit">Unit:</label>
          <input type="text" id="itemUnit" name="itemUnit" /><br />
          <label for="itemPrice">Price (UGX):</label>
          <input type="number" id="itemPrice" name="itemPrice" />
          <label for="itemImage">Image URL:</label>
          <input type="text" id="itemImage" name="itemImage" /><br />
          <button class="btn-inv" onclick="addItem()">Add Item</button>
        </div>
        <hr />
        <div class="inventory-list">
          <h2>Inventory List</h2>
          <table id="inventoryTable">
            <thead>
              <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Unit</th>
                <th>Price (UGX)</th>
                <th>Received</th>
                <th>Issued</th>
                <th>Balance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="inventoryBody">
              <!-- Inventory items will be dynamically populated here -->
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <div w3-include-html="/views/footer.html"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/public/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/public/js/inventory.js"></script>
    <script src="/public/js/add.js"></script>
  </body>
</html>
