doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  style.
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/login.css')
div(w3-include-html='/views/navbar.html')
.container-shop
main
  .container-login
    h2.h2-login Login
    form#form(action="/login" method="POST")
      label.form-label(for='exampleInputEmail1') Email
      input#exampleInputEmail1.form-control(type='text' name='email')
      label.form-label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password' name='password')
      br
      button.btn.btn-primary.col-12(type='submit') Login
div(w3-include-html='/views/footer.html')
script(src='/js/login.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/add.js')
