nav.dash
  ul
    li
      a(href='/admin.html') Dashboard
    li
      a(href='/adminRegistration.html') Admin Registration
    li
      a(href='/babyRegistration.html') Register Baby
    li
      a(href='/sitterRegistration.html') Register Sitter
    li
      a(href='/babyStatus.html') Baby Status
    li
      a(href='/babyReport.html') Baby Report
    li
      a(href='/sittterReport.html') Sitter Report
    li
      a(href='/accounts.html') Accounts
    li
      a(href='/inventory.html') Inventory
    li
      a(href='/liveFeed.html') Live Feed
    a.btn.btn-primary(href='/logout' role='button') Logout
