<nav class="dash">
    <ul>
      <li><a href="/admin.html">Dashboard</a></li>
      <li><a href="/adminRegistration.html">Admin Registration</a></li>
      <li><a href="/babyRegistration.html">Register Baby</a></li>
      <li><a href="/sitterRegistration.html">Register Sitter</a></li>
      <li><a href="/babyStatus.html">Baby Status</a></li>
      <li><a href="/babyReport.html">Baby Report</a></li>
      <li><a href="/sittterReport.html">Sitter Report</a></li>
      <li><a href="/accounts.html">Accounts</a></li>
      <li><a href="/inventory.html">Inventory</a></li>
      <li><a href="/liveFeed.html">Live Feed</a></li>
      <button id="logoutBtn">Logout</button>
    </ul>
  </nav>
