nav.dash
  ul
    li
      a(href='/adminDash') Dashboard
    li
      a(href='/registerBaby') Register Baby
    li
      a(href='/registerSitter') Register Sitter
    li
      a(href='/babiesList') Babies
    li
      a(href='/checkedInBabies') Babies Checked-in
    li
      a(href='/checkedOutBabies') Babies Checked-out
    li
      a(href='/sittersList') Sitters
    li
      a(href='/checkedInSitters') Sitters Checked-in
    li
      a(href='/checkedOutSitters') Sitters Checked-out
    li
      a(href='/purchaseAdd') Add Purchase
    li
      a(href='/purchasesList') Purchases
    li
      a(href='/dollAdd') Add Doll
    li
      a(href='/dollsList') Doll Stall 
    li
      a(href='/accountsEntry') Accounts
    li
      a(href='/financialReport') Accounts Report
    a.btn.btn-primary(href='/logout' role='button') Logout
