nav.dash
  ul
    li
      a(href='/adminDash') Dashboard
    li
      a(href='/registerBaby') Register Baby
    li
      a(href='/registerSitter') Register Sitter
    li
      a(href='/babiesList') Baby List
    li
      a(href='/checkedInBabies') Babies Checked-in
    li
      a(href='/sittersList') Sitter List
    li
      a(href='/checkedInSitters') Sitters Checked-in
    li
      a(href='/accounts.html') Accounts
    li
      a(href='/purchaseAdd') Add Purchase
    li
      a(href='/purchasesList') Purchase List
    li
      a(href='/dollAdd') Add Doll
    li
      a(href='/dollsList') Doll Stall  
    li
      a(href='/liveFeed.html') Live Feed
    a.btn.btn-primary(href='/logout' role='button') Logout
