main {
    background: (to right, #FFD500, #FFC94F, #FFC281, #FFC3AD);
}

h2 {
    text-align: center;
    color:#007bff;
}

#registrationForm {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: space-between;
}

.h2-babyReg {
    text-align: center;
    color:#007bff;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row div {
    margin-right: 10px; /* Adjust the value to control the amount of space */
  }

button.btn.btn-success {
    margin-top: 30px;
}  
