.mainAdmin {
    margin: auto;
    padding: 20px 70px 20px 70px;
    background-image: url('https://images.pexels.com/photos/1337387/pexels-photo-1337387.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-adminDash {
    display: flex;
    gap: 20px;
  }

  .section {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color:#007bff;
    margin-bottom: 10px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card-toDo {
    flex: 1 0 40%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .graph-container {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }

  canvas {
        width: 100% !important;
        height: 400px !important; /* Set desired height for the chart */
        display: block;
        margin: auto;
    }

    #report-type-select {
        width: 20%;
      }

  .tasks-container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
    min-height: 150px;
    overflow-y: auto;
  }

  .tasks-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .tasks-container div:last-child {
    border-bottom: none;
  }

  .task-buttons {
    display: flex;
    gap: 10px;
  }

  button .btn-toDo {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button.btn-toDo:hover {
    background-color: #0056b3;
  }

  .task-complete {
    text-decoration: line-through;
    color: #777;
  }

  /* To-do List */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  button.btn-toDo {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .li-toDo {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .li-toDo:last-child {
    border-bottom: none;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

