.mainlogin {
  background-image: url('https://images.pexels.com/photos/1337387/pexels-photo-1337387.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-size: cover;

}
.container-login {
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding-bottom: 0;
  }

  .h2-login {
    text-align: center;
    color: orange;
  }

  button.btn.btn-primary {
    background: orange;
    border: orange;
  }

  button.btn.btn-primary:hover {
    background: rgb(215, 146, 17);
    /* border: orange; */
  }
