.mainlogin {
  background-image: url('https://images.unsplash.com/photo-1616666428759-679a7d578307?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 70px 0;

}
.container-login {
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding-bottom: 0;
  }

  .h2-login {
    text-align: center;
    color: orange;
  }

  button.btn.btn-primary {
    background: orange;
    border: orange;
  }

  button.btn.btn-primary:hover {
    background: rgb(215, 146, 17);
    /* border: orange; */
  }
